Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

update
  .github/workflows/const.yml
  .github/workflows/entities.yml
  .github/workflows/es-node.yml
  .github/workflows/expresso.yml
  .github/workflows/jex.yml
  .github/workflows/log4bot.yml
  .github/workflows/opapi.yml
  .github/workflows/promex.yml
  .github/workflows/ptb-schema.yml
  .github/workflows/publish-package.yml
  .github/workflows/readiness.yml
  .github/workflows/trail.yml
  .github/workflows/tunnel.yml
  .github/workflows/verel.yml
  .github/workflows/yargs-extra.yml
  .github/workflows/zui.yml
  opapi/package.json
  opapi/pnpm-lock.yaml
Owners: @botpress/cloud-services, @michaelmass, @franklevasseur

update
  .github/workflows/ptb-schema.yml
  expresso/package.json
  expresso/pnpm-lock.yaml
  expresso/src/openapi.ts
  opapi/src/jsonschema.ts
  opapi/src/openapi.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/state.ts
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass

update
  expresso/src/router.ts
  expresso/src/typings.ts
  opapi/src/state.ts
Owners: @franklevasseur, @michaelmass

update
  expresso/package.json
  opapi/package.json
Owners: @franklevasseur, @michaelmass

update
  expresso/package.json
  opapi/package.json
Owners: @franklevasseur, @michaelmass

update
  expresso/pnpm-lock.yaml
  opapi/pnpm-lock.yaml
Owners: @franklevasseur, @michaelmass

fix(packages): revert broken setup after package update (#164)
  .github/workflows/const.yml
  .github/workflows/entities.yml
  .github/workflows/es-node.yml
  .github/workflows/expresso.yml
  .github/workflows/jex.yml
  .github/workflows/log4bot.yml
  .github/workflows/opapi.yml
  .github/workflows/promex.yml
  .github/workflows/ptb-schema.yml
  .github/workflows/publish-package.yml
  .github/workflows/readiness.yml
  .github/workflows/trail.yml
  .github/workflows/tunnel.yml
  .github/workflows/verel.yml
  .github/workflows/yargs-extra.yml
  .github/workflows/zui.yml
  expresso/package.json
  expresso/pnpm-lock.yaml
  expresso/src/openapi.ts
  expresso/src/router.ts
  expresso/src/typings.ts
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/jsonschema.ts
  opapi/src/openapi.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/state.ts
  promex/src/prometheus.ts
  ptb-schema/package.json
  ptb-schema/pnpm-lock.yaml
  ptb-schema/tests/test.test.ts
  renovate.json
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass

update
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/opapi.ts
  readiness/package.json
  readiness/pnpm-lock.yaml
  renovate.json
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
Owners: @franklevasseur, @michaelmass, @botpress/cloud-services

update
  renovate.json
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

update
  log4bot/package.json
  opapi/package.json
  readiness/package.json
  yargs-extra/package.json
Owners: @franklevasseur, @michaelmass

fix(packages): revert packages that are only esm modules (#165)
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/opapi.ts
  readiness/package.json
  readiness/pnpm-lock.yaml
  renovate.json
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
Owners: @franklevasseur, @michaelmass, @botpress/cloud-services

feat(jex): sync version of every jex function (#127)
  jex/src/index.ts
  jex/src/jex-representation/from-jex.test.ts
  jex/src/jex-representation/to-jex.test.ts
  jex/src/jex-representation/to-jex.ts
Owners: @franklevasseur

Revert "feat(jex): sync version of every jex function (#127)"
  jex/src/index.ts
  jex/src/jex-representation/from-jex.test.ts
  jex/src/jex-representation/to-jex.test.ts
  jex/src/jex-representation/to-jex.ts
Owners: @franklevasseur

chore(jex): revert sync version of every jex function (#127) (#166)
  jex/src/index.ts
  jex/src/jex-representation/from-jex.test.ts
  jex/src/jex-representation/to-jex.test.ts
  jex/src/jex-representation/to-jex.ts
Owners: @franklevasseur

update
  promex/package.json
  promex/pnpm-lock.yaml
  renovate.json
Owners: @michaelmass, @botpress/cloud-services

update
  promex/package.json
Owners: @michaelmass

chore(promex): revert nanoid to a version with commonjs (#167)
  promex/package.json
  promex/pnpm-lock.yaml
  renovate.json
Owners: @michaelmass, @botpress/cloud-services

chore(opapi): fix packages
  expresso/package.json
  expresso/pnpm-lock.yaml
  opapi/package.json
  opapi/pnpm-lock.yaml
  renovate.json
Owners: @franklevasseur, @michaelmass, @botpress/cloud-services

update
  opapi/pnpm-lock.yaml
Owners: @michaelmass, @franklevasseur

chore(opapi): fix packages (#178)
  expresso/package.json
  expresso/pnpm-lock.yaml
  opapi/package.json
  opapi/pnpm-lock.yaml
  renovate.json
Owners: @franklevasseur, @michaelmass, @botpress/cloud-services

chore(renovate): update renovate config
  renovate.json
Owners: @botpress/cloud-services

chore(renovate): update renovate config (#179)
  renovate.json
Owners: @botpress/cloud-services

chore(trail/promex): used peerdependencies instead of direct dependencies
  promex/package.json
  trail/package.json
Owners: @michaelmass

update
  trail/package.json
Owners: @michaelmass

update
  promex/package.json
  trail/package.json
Owners: @michaelmass

allow 302
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

chore(trail/promex): used peerdependencies instead of direct dependencies (#181)
  promex/package.json
  trail/package.json
Owners: @michaelmass

binary
  opapi/src/generators/types.ts
  opapi/src/operation.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

version
  opapi/package.json
Owners: @michaelmass, @franklevasseur

prettier
  opapi/package.json
Owners: @michaelmass, @franklevasseur

fix(jex): rexport json-schema types
  jex/package.json
  jex/src/index.ts
Owners: @franklevasseur

fix(jex): rexport json-schema type (#183)
  jex/package.json
  jex/src/index.ts
Owners: @franklevasseur

fix(jex): move @types/json-schema from dev deps to deps
  jex/package.json
Owners: @franklevasseur

sync lockfile
  jex/pnpm-lock.yaml
Owners: @franklevasseur

fix(jex): move @types/json-schema from dev deps to deps (#184)
  jex/package.json
  jex/pnpm-lock.yaml
Owners: @franklevasseur

fix(opapi): embed type-fest types (#182)
  opapi/package.json
  opapi/src/generators/client.ts
  opapi/src/generators/helpers.ts
Owners: @michaelmass, @franklevasseur

chore(deps): update json-schema-to-zod to remove fs depenency
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @charlescatta

version
  zui/package.json
Owners: @charlescatta

chore(deps): update json-schema-to-zod to remove fs depenency (#191)
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @charlescatta

feat(zui): to typescript
  zui/package.json
  zui/pnpm-lock.yaml
  zui/src/index.ts
  zui/src/json-schema/json-schema-to-zui.test.ts
  zui/src/json-schema/json-schema-to-zui.ts
  zui/src/json-schema/zui-to-json-schema.test.ts
  zui/src/json-schema/zui-to-json-schema.ts
  zui/src/object/object-to-zui.test.ts
  zui/src/object/object-to-zui.ts
  zui/src/typescript/zui-to-ts.test.ts
  zui/src/typescript/zui-to-ts.ts
  zui/src/utils.ts
  zui/src/zui-schemas.ts
  zui/src/zui.ts
Owners: @charlescatta

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur
es-node @franklevasseur
expresso @franklevasseur
jex @franklevasseur
log4bot @franklevasseur
opapi @michaelmass @franklevasseur
promex @michaelmass
ptb-schema @franklevasseur
readiness @franklevasseur
trail @michaelmass
tunnel @franklevasseur
verel @franklevasseur
yargs-extra @franklevasseur
zui @charlescatta
