Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur
es-node @franklevasseur
expresso @franklevasseur
jex @franklevasseur
log4bot @franklevasseur
opapi @michaelmass @franklevasseur
promex @michaelmass
ptb-schema @franklevasseur
readiness @franklevasseur
trail @michaelmass
tunnel @franklevasseur
verel @franklevasseur
yargs-extra @franklevasseur
zui @charlescatta

Remove unused param
  zui/src/ui/stories/ZuiForm.stories.tsx
Owners: @charlescatta

feat(zui): Zui 0.2.2 DX improvements (#126)
  zui/package.json
  zui/src/index.ts
  zui/src/ui/debugger.tsx
  zui/src/ui/defaultextension.ts
  zui/src/ui/extensions.test.ts
  zui/src/ui/index.tsx
  zui/src/ui/stories/ZuiForm.stories.ts
  zui/src/ui/stories/ZuiForm.stories.tsx
  zui/src/ui/stories/ZuiFormDEBUG.stories.tsx
  zui/src/ui/stories/exampleschema.ts
  zui/src/ui/types.ts
  zui/src/zui.ts
Owners: @charlescatta

Fix types, handle nullish schema
  zui/src/ui/types.ts
Owners: @charlescatta

Handle nullish schema
  zui/src/ui/index.tsx
Owners: @charlescatta

Add missing type exports
  zui/src/index.ts
  zui/tsup.config.ts
Owners: @charlescatta

Bump version
  zui/package.json
Owners: @charlescatta

chore(zui): Version 0.2.3 (#130)
  zui/package.json
  zui/src/index.ts
  zui/src/ui/index.tsx
  zui/src/ui/types.ts
  zui/tsup.config.ts
Owners: @charlescatta

Give access to form state in component context
  zui/src/ui/index.tsx
  zui/src/ui/types.ts
Owners: @charlescatta

bump version
  zui/package.json
Owners: @charlescatta

chore(es-node): removed process.exit since it exits the programs before finishing pending promises
  es-node/package.json
  es-node/src/index.ts
Owners: @franklevasseur

chore(es-node): removed process.exit since it exits the programs before finishing pending promises (#132)
  es-node/package.json
  es-node/src/index.ts
Owners: @franklevasseur

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  renovate.json
Owners: @botpress/cloud-services

update
  .github/workflows/es-node.yml
  es-node/package.json
Owners: @botpress/cloud-services, @franklevasseur

update
  .github/workflows/es-node.yml
Owners: @botpress/cloud-services

update
  .github/workflows/const.yml
  .github/workflows/entities.yml
  .github/workflows/es-node.yml
Owners: @botpress/cloud-services

update
  .github/workflows/const.yml
  .github/workflows/entities.yml
  .github/workflows/es-node.yml
  .github/workflows/jex.yml
  .github/workflows/log4bot.yml
  .github/workflows/opapi.yml
  .github/workflows/tunnel.yml
  .github/workflows/verel.yml
  .github/workflows/yargs-extra.yml
  .github/workflows/zui.yml
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  log4bot/yarn.lock
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
  yargs-extra/yarn.lock
Owners: @botpress/cloud-services, @franklevasseur

update
  .github/workflows/expresso.yml
  expresso/package.json
  expresso/pnpm-lock.yaml
  expresso/yarn.lock
Owners: @botpress/cloud-services, @franklevasseur

update
  .github/workflows/promex.yml
  .github/workflows/ptb-schema.yml
  .github/workflows/readiness.yml
  .github/workflows/trail.yml
  promex/package.json
  promex/pnpm-lock.yaml
  promex/yarn.lock
  ptb-schema/package.json
  ptb-schema/pnpm-lock.yaml
  ptb-schema/yarn.lock
  trail/package.json
  trail/pnpm-lock.yaml
  trail/yarn.lock
Owners: @botpress/cloud-services, @michaelmass, @franklevasseur

update
  promex/src/prometheus.ts
  ptb-schema/package.json
  ptb-schema/pnpm-lock.yaml
  ptb-schema/tsconfig.json
Owners: @michaelmass, @franklevasseur

update
  promex/jest.config.js
  promex/package.json
  promex/pnpm-lock.yaml
  promex/src/prometheus.test.ts
Owners: @michaelmass

update
  expresso/jest.config.js
  expresso/package.json
  expresso/pnpm-lock.yaml
  expresso/src/router.test.ts
  opapi/vite.config.ts
Owners: @franklevasseur, @michaelmass

update
  promex/pnpm-lock.yaml
Owners: @michaelmass

update
  expresso/tsconfig.json
Owners: @franklevasseur

update
  promex/package.json
Owners: @michaelmass

update
  promex/package.json
  promex/pnpm-lock.yaml
  promex/vite.config.ts
Owners: @michaelmass

update
  promex/package.json
Owners: @michaelmass

update
  promex/package.json
  promex/src/prometheus.ts
Owners: @michaelmass

update
  promex/src/prometheus.test.ts
Owners: @michaelmass

update
  promex/pnpm-lock.yaml
Owners: @michaelmass

update
  promex/package.json
  promex/src/prometheus.test.ts
  promex/vite.config.ts
Owners: @michaelmass

update
  renovate.json
Owners: @botpress/cloud-services

update
  entities/e2e/browser/index.ts
  readiness/pnpm-lock.yaml
  tunnel/e2e/index.ts
Owners: @franklevasseur
