Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): extend the concept of metadata root to apply to more type and to behave recursivly
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/branded/index.ts
  zui/src/z/types/catch/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/lazy/index.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/promise/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/transformer/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/z/types/object/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): new json-schema to zui transformer
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/guards.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/z/types/transformer/index.ts
  zui/src/z/types/utils/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

add test suits
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): fix comments, extensions in toTsSchema
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): bump patch version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

transform pipeline tests
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/tsconfig.json
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): fix comments, extensions in toTypescriptSchema (#554)
  zui/package.json
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(const): add id prefix for plugin versions
  const/src/prefixes.ts
Owners: @botpress/cloud-services

chore(const): bump minor version
  const/package.json
Owners: @botpress/cloud-services

feat(const): add id prefix for plugin versions (#555)
  const/package.json
  const/src/prefixes.ts
Owners: @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/guards.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/z/types/utils/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

pr review comment
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/transform-pipeline.test.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): new experimental zui flavoured json-schema and transformers (#556)
  zui/package.json
  zui/src/index.ts
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/guards.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/branded/index.ts
  zui/src/z/types/catch/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/defs.ts
  zui/src/z/types/discriminatedUnion/index.ts
  zui/src/z/types/lazy/index.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/object/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/promise/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/transformer/index.ts
  zui/src/z/types/utils/index.ts
  zui/tsconfig.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): toTypescriptSchema transform supports checks for most types like string and number
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-typescript-schema/array-checks.ts
  zui/src/transforms/zui-to-typescript-schema/bigint-checks.ts
  zui/src/transforms/zui-to-typescript-schema/date-checks.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-schema/number-checks.ts
  zui/src/transforms/zui-to-typescript-schema/set-checks.ts
  zui/src/transforms/zui-to-typescript-schema/string-checks.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-schema/set-checks.ts
Owners: @franklevasseur, @botpress/cloud-services

chore: address pr review comments
  zui/package.json
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): toTypescriptSchema transform supports checks for most types like string and number (#557)
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-typescript-schema/array-checks.ts
  zui/src/transforms/zui-to-typescript-schema/bigint-checks.ts
  zui/src/transforms/zui-to-typescript-schema/date-checks.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-schema/number-checks.ts
  zui/src/transforms/zui-to-typescript-schema/set-checks.ts
  zui/src/transforms/zui-to-typescript-schema/string-checks.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(opapi): post request with empty body results in operation input being Record<string, never>
  opapi/test/server.test.ts
  opapi/test/util.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/package.json
  opapi/src/generators/types.ts
  opapi/test/server.test.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/src/generators/types.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/test/server.test.ts
  opapi/test/util.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/test/util.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/package.json
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/test/util.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(opapi): post request with empty body results in operation input being Record<string, never> (#558)
  opapi/package.json
  opapi/src/generators/types.ts
  opapi/test/server.test.ts
  opapi/test/util.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat: add custom isEqual comparer
  zui/src/z/types/utils/is-equal.test.ts
  zui/src/z/types/utils/is-equal.ts
Owners: @franklevasseur, @botpress/cloud-services

chore: bump patch version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

make CustomSet use the custom isEqual comparer
  zui/src/z/types/utils/custom-set.ts
Owners: @franklevasseur, @botpress/cloud-services

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur @botpress/cloud-services
depsynky @franklevasseur @botpress/cloud-services
es-node @franklevasseur @botpress/cloud-services
jex @franklevasseur @botpress/cloud-services
log4bot @franklevasseur @botpress/cloud-services
opapi @michaelmass @franklevasseur @botpress/cloud-services
promex @michaelmass @botpress/cloud-services
ptb-schema @franklevasseur @botpress/cloud-services
readiness @franklevasseur @botpress/cloud-services
trail @michaelmass @botpress/cloud-services
tunnel @franklevasseur @botpress/cloud-services
verel @franklevasseur @botpress/cloud-services
yargs-extra @franklevasseur @botpress/cloud-services
zui @franklevasseur @botpress/cloud-services
