Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass

chore(zui): bump patch version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): fix readonly modifiers
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/primitives.test.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): zui readonly is represented with generic type Readonly
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): zui readonly is represented with generic type Readonly (#471)
  zui/package.json
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): support transform of a default array to typescript schema
  zui/src/transforms/common/errors.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-schema/utils.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-type/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): support transform of a default array to typescript schema (#472)
  zui/package.json
  zui/src/transforms/common/errors.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-schema/utils.ts
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): move transform utils
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/common/utils.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): move transform utils (#473)
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/common/utils.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(verel): disable browser tests
  verel/package.json
Owners: @franklevasseur, @botpress/cloud-services

update
  verel/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(verel): disable browser tests (#474)
  verel/package.json
  verel/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): rm test snapshots
  zui/package.json
  zui/src/transforms/object-to-zui/object-to-zui.test.ts
  zui/src/transforms/zui-to-json-schema/zui-extension.test.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): rm test snapshots (#475)
  zui/package.json
  zui/src/transforms/object-to-zui/object-to-zui.test.ts
  zui/src/transforms/zui-to-json-schema/zui-extension.test.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): drastically improve zui test speed by removing toBeValidTypescript custom expect
  zui/src/setup.test.ts
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/primitives.test.ts
  zui/src/vitest.d.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): drastically improve zui test speed by removing toBeValidTypescript custom expect (#476)
  zui/src/setup.test.ts
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/zui-to-typescript-type/index.test.ts
  zui/src/transforms/zui-to-typescript-type/index.ts
  zui/src/transforms/zui-to-typescript-type/primitives.test.ts
  zui/src/vitest.d.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  const/package.json
  const/src/limits.ts
Owners: @botpress/cloud-services

chore(const): increase the number of recurring events in a bot (#477)
  const/package.json
  const/src/limits.ts
Owners: @botpress/cloud-services

fix(zui): handle optional unions without the need for never
  zui/src/transforms/json-schema-to-zui/parsers/parseSchema.ts
  zui/src/transforms/json-schema-to-zui/types.ts
  zui/src/transforms/transform-pipeline.test.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): handle nested unions when testing schemas for equality
  zui/src/z/is-equal.test.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(jex): browser build
  jex/build-browser.js
  jex/build-node.js
  jex/package.json
  jex/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

bump version
  jex/package.json
Owners: @franklevasseur, @botpress/cloud-services

add frontend test suite
  jex/build-browser.js
  jex/package.json
  jex/pnpm-lock.yaml
  jex/vitest.config.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(jex): browser build (#498)
  jex/build-browser.js
  jex/build-node.js
  jex/package.json
  jex/pnpm-lock.yaml
  jex/vitest.config.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(jex): shim buffer
  jex/build-browser.js
  jex/package.json
  jex/pnpm-lock.yaml
  jex/shims.js
Owners: @franklevasseur, @botpress/cloud-services

fix(jex): shim buffer (#499)
  jex/build-browser.js
  jex/package.json
  jex/pnpm-lock.yaml
  jex/shims.js
Owners: @franklevasseur, @botpress/cloud-services

chore(quotas): add V3 quotas
  const/package.json
  const/src/quotas.ts
Owners: @botpress/cloud-services

chore: ensure nothing runs in postinstall
  jex/package.json
Owners: @franklevasseur, @botpress/cloud-services

chore: ensure nothing runs in postinstall (#500)
  jex/package.json
Owners: @franklevasseur, @botpress/cloud-services

chore(quotas): add V3 quotas (#497)
  const/package.json
  const/src/quotas.ts
Owners: @botpress/cloud-services

chore(opapi): add support for HTTP 424 as error code
  opapi/package.json
  opapi/src/generators/errors.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

chore(opapi): add support for HTTP 424 as error code (#510)
  opapi/package.json
  opapi/src/generators/errors.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(opapi): include HTTP 424 in ApiError.status and add type guard
  opapi/package.json
  opapi/src/generators/errors.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(opapi): include HTTP 424 in ApiError.status and add type guard (#511)
  opapi/package.json
  opapi/src/generators/errors.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur @botpress/cloud-services
depsynky @franklevasseur @botpress/cloud-services
es-node @franklevasseur @botpress/cloud-services
jex @franklevasseur @botpress/cloud-services
log4bot @franklevasseur @botpress/cloud-services
opapi @michaelmass @franklevasseur @botpress/cloud-services
promex @michaelmass @botpress/cloud-services
ptb-schema @franklevasseur @botpress/cloud-services
readiness @franklevasseur @botpress/cloud-services
trail @michaelmass @botpress/cloud-services
tunnel @franklevasseur @botpress/cloud-services
verel @franklevasseur @botpress/cloud-services
yargs-extra @franklevasseur @botpress/cloud-services
zui @franklevasseur @botpress/cloud-services
