Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass

add more tests to CustomSet; fix issues
  zui/src/z/types/utils/custom-set.test.ts
  zui/src/z/types/utils/is-equal.ts
Owners: @franklevasseur, @botpress/cloud-services

keep visited state separate from the objects
  zui/src/z/types/utils/is-equal.ts
Owners: @franklevasseur, @botpress/cloud-services

feat: add custom isEqual comparer (#559)
  zui/package.json
  zui/src/z/types/utils/custom-set.test.ts
  zui/src/z/types/utils/custom-set.ts
  zui/src/z/types/utils/is-equal.test.ts
  zui/src/z/types/utils/is-equal.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(transformers/json next): preserve string checks
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/string.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/string.ts
Owners: @franklevasseur, @botpress/cloud-services

chore: bump minor version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

address review comments
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/string.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/string.ts
Owners: @franklevasseur, @botpress/cloud-services

extract datetime offset and precision
  zui/src/transforms/json-schema-to-zui-next/primitives/string.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/string.ts
  zui/src/z/types/string/datetime.test.ts
  zui/src/z/types/string/datetime.ts
  zui/src/z/types/string/index.ts
  zui/src/z/types/string/string.test.ts
Owners: @franklevasseur, @botpress/cloud-services

remove redundant skipped tests
  zui/src/transforms/transform-pipeline.test.ts
Owners: @franklevasseur, @botpress/cloud-services

do not validate the schema in stringJSONSchemaToZuiString
  zui/src/transforms/json-schema-to-zui-next/primitives/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/string.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(transformers/json next): preserve string checks (#560)
  zui/package.json
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/string.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/string.ts
  zui/src/z/types/string/datetime.test.ts
  zui/src/z/types/string/datetime.ts
  zui/src/z/types/string/index.ts
  zui/src/z/types/string/string.test.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): expose naked util
  zui/src/z/__tests__/naked.test.ts
  zui/src/z/types/basetype/index.ts
Owners: @franklevasseur, @botpress/cloud-services

added lazy support
  zui/src/z/__tests__/naked.test.ts
  zui/src/z/types/basetype/index.ts
Owners: @franklevasseur, @botpress/cloud-services

bump package
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): expose naked util (#561)
  zui/package.json
  zui/src/z/__tests__/naked.test.ts
  zui/src/z/types/basetype/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): merge getMetadataRoot and naked methods
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/branded/index.ts
  zui/src/z/types/catch/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/defs.ts
  zui/src/z/types/lazy/index.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/promise/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/transformer/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): merge getMetadataRoot and naked methods (#562)
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/branded/index.ts
  zui/src/z/types/catch/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/defs.ts
  zui/src/z/types/lazy/index.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/promise/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/transformer/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): displayAs also appends to rootMetadata instead of this
  zui/src/transforms/zui-to-json-schema/parseDef.ts
  zui/src/transforms/zui-to-json-schema/parsers/nullable.ts
  zui/src/z/types/basetype/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

feat(zui/json next): preserve number checks
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/number.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/number.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui/json next): preserve number checks (#564)
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/index.ts
  zui/src/transforms/json-schema-to-zui-next/primitives/number.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/number.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui/json next): do not support ZodBigInt and ZodDate
  zui/package.json
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/guards.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui/json next): do not support ZodBigInt and ZodDate (#565)
  zui/package.json
  zui/src/transforms/common/errors.ts
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/guards.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/transform-pipeline.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.test.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(opapi): rm absolute imports
  opapi/src/section-types-generator/generator.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/section-types-generator/types.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(zui): displayAs also appends to rootMetadata instead of this (#563)
  zui/package.json
  zui/src/transforms/zui-to-json-schema/parseDef.ts
  zui/src/transforms/zui-to-json-schema/parsers/nullable.ts
  zui/src/z/types/basetype/index.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(depsynky): handle version range
  depsynky/package.json
  depsynky/pnpm-lock.yaml
  depsynky/src/commands/check-versions.ts
  depsynky/src/utils/index.ts
  depsynky/src/utils/semver.test.ts
  depsynky/src/utils/semver.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  .github/workflows/depsynky.yml
  depsynky/src/utils/semver.test.ts
Owners: @botpress/cloud-services, @franklevasseur

update
  depsynky/src/commands/check-versions.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(depsynky): handle version range (#576)
  .github/workflows/depsynky.yml
  depsynky/package.json
  depsynky/pnpm-lock.yaml
  depsynky/src/commands/check-versions.ts
  depsynky/src/utils/index.ts
  depsynky/src/utils/semver.test.ts
  depsynky/src/utils/semver.ts
Owners: @botpress/cloud-services, @franklevasseur

chore(opapi): rm absolute imports (#566)
  opapi/src/section-types-generator/generator.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/section-types-generator/types.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(zui/json next): add support for array/set checks
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/iterables/array.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/array.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/set.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/tuple.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui/json next): add support for array/set checks (#577)
  zui/package.json
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/json-schema-to-zui-next/index.test.ts
  zui/src/transforms/json-schema-to-zui-next/index.ts
  zui/src/transforms/json-schema-to-zui-next/iterables/array.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/array.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/set.ts
  zui/src/transforms/zui-to-json-schema-next/type-processors/tuple.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(thicktoken): added types
  thicktoken/.npmignore
  thicktoken/package.json
Owners: @botpress/cloud-services

fix(thicktoken): added types (#578)
  thicktoken/.npmignore
  thicktoken/package.json
Owners: @botpress/cloud-services

feat(opapi): support custom ajv instance
  opapi/package.json
  opapi/src/handler-generator/export-tree.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(opapi): support custom ajv instance (#579)
  opapi/package.json
  opapi/src/handler-generator/export-tree.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(opapi): allow setting custom api error map function
  opapi/src/generators/client-node.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/package.json
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(opapi): allow setting custom api error map function (#589)
  opapi/package.json
  opapi/src/generators/client-node.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(zui): consistent catchall and extra keys behavior
  zui/src/z/types/object/object.test.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/zui-to-json-schema/parsers/object.ts
  zui/src/z/types/object/index.ts
  zui/src/z/types/object/object.test.ts
Owners: @franklevasseur, @botpress/cloud-services

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur @botpress/cloud-services
depsynky @franklevasseur @botpress/cloud-services
es-node @franklevasseur @botpress/cloud-services
jex @franklevasseur @botpress/cloud-services
log4bot @franklevasseur @botpress/cloud-services
opapi @michaelmass @franklevasseur @botpress/cloud-services
promex @michaelmass @botpress/cloud-services
ptb-schema @franklevasseur @botpress/cloud-services
readiness @franklevasseur @botpress/cloud-services
trail @michaelmass @botpress/cloud-services
tunnel @franklevasseur @botpress/cloud-services
verel @franklevasseur @botpress/cloud-services
yargs-extra @franklevasseur @botpress/cloud-services
zui @franklevasseur @botpress/cloud-services
