Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass

update
  opapi/src/generators/errors.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

update
  opapi/package.json
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(opapi): added metadata on errors (#512)
  opapi/package.json
  opapi/src/generators/errors.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

feat(tags): added well-known tags used by various features
  const/src/index.ts
  const/src/tags.ts
Owners: @botpress/cloud-services

verison bump
  const/package.json
Owners: @botpress/cloud-services

updated versions
  vai/package.json
  wasm/package.json
  wasm/vite.config.ts
  zai/package.json
  zai/pnpm-lock.yaml
Owners: @botpress/cloud-services

added github actions
  .github/workflows/vai.yml
  .github/workflows/wasm.yml
  .github/workflows/zai.yml
Owners: @botpress/cloud-services

added gh secrets
  .github/workflows/vai.yml
  .github/workflows/zai.yml
Owners: @botpress/cloud-services

feat(tags): added well-known tags used by various features (#523)
  const/package.json
  const/src/index.ts
  const/src/tags.ts
Owners: @botpress/cloud-services

fix zai to use zui directly
  vai/package.json
  zai/.npmignore
  zai/package.json
  zai/pnpm-lock.yaml
  zai/scripts/update-models.mts
  zai/scripts/update-types.mts
  zai/src/adapters/botpress-table.ts
  zai/src/operations/__tests/index.ts
  zai/src/operations/check.ts
  zai/src/operations/extract.test.ts
  zai/src/operations/extract.ts
  zai/src/operations/filter.ts
  zai/src/operations/label.ts
  zai/src/operations/rewrite.ts
  zai/src/operations/summarize.ts
  zai/src/operations/text.ts
  zai/src/utils.ts
  zai/src/zai.ts
  zai/tsconfig.json
  zai/tsup.config.ts
  zui/package.json
  zui/pnpm-lock.yaml
  zui/src/transforms/zui-to-typescript-schema/index.ts
  zui/src/z/types/array/index.ts
  zui/src/z/types/date/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/literal/index.ts
  zui/src/z/types/nativeEnum/index.ts
  zui/src/z/types/utils/custom-set.ts
Owners: @botpress/cloud-services, @franklevasseur

update lockfile
  vai/package.json
  vai/pnpm-lock.yaml
Owners: @botpress/cloud-services

export zui
  vai/src/utils/zui.ts
Owners: @botpress/cloud-services

fix
  vai/src/assertions/check.ts
  vai/src/assertions/extract.test.ts
  vai/src/assertions/extract.ts
  vai/src/assertions/filter.ts
  vai/src/scripts/update-types.ts
  vai/src/task/compare.ts
  vai/src/utils/predictJson.ts
Owners: @botpress/cloud-services

fix
  vai/src/assertions/rate.ts
  vai/src/utils/zui.ts
Owners: @botpress/cloud-services

vai config
  vai/package.json
  vai/pnpm-lock.yaml
  vai/tsup.config.ts
  wasm/package.json
Owners: @botpress/cloud-services

fix
  vai/package.json
  vai/src/utils/asyncAssertion.ts
Owners: @botpress/cloud-services

fix vitest config
  vai/package.json
  vai/tsconfig.json
  vai/vitest.config.ts
  zai/vitest.config.ts
Owners: @botpress/cloud-services

chore(const): bump state definition limit to 10
  const/src/limits.ts
Owners: @botpress/cloud-services

bump
  const/package.json
Owners: @botpress/cloud-services

chore(const): bump state definition limit to 10 (#525)
  const/package.json
  const/src/limits.ts
Owners: @botpress/cloud-services

chore(entities): rm browser tests from ci
  entities/package.json
Owners: @franklevasseur, @botpress/cloud-services

update
  entities/e2e/browser/index.ts
  entities/e2e/browser/script.ts
  entities/e2e/node.ts
  entities/package.json
Owners: @franklevasseur, @botpress/cloud-services

update
  entities/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore(entities): rm browser tests from ci (#526)
  entities/e2e/browser/index.ts
  entities/e2e/browser/script.ts
  entities/e2e/node.ts
  entities/package.json
  entities/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

chore: renovate update packages once a month
  renovate.json
Owners: @botpress/cloud-services

chore: renovate update packages once a month (#527)
  renovate.json
Owners: @botpress/cloud-services

chore(tunnel): ci runs on ubuntu 22 to fix puppeteer
  .github/workflows/tunnel.yml
Owners: @botpress/cloud-services

chore: new attempt to make renovate update packages once a month
  renovate.json
Owners: @botpress/cloud-services

chore: new attempt to make renovate update packages once a month (#530)
  renovate.json
Owners: @botpress/cloud-services

chore(tunnel): ci runs on ubuntu 22 to fix puppeteer (#529)
  .github/workflows/tunnel.yml
Owners: @botpress/cloud-services

chore(promex): upgrade vitest
  promex/package.json
  promex/pnpm-lock.yaml
Owners: @michaelmass, @botpress/cloud-services

update
  promex/package.json
Owners: @michaelmass, @botpress/cloud-services

update
  promex/package.json
  promex/pnpm-lock.yaml
Owners: @michaelmass, @botpress/cloud-services

chore: rename wasm using bpinternal org
  thicktoken/.npmignore
  thicktoken/package.json
  thicktoken/pnpm-lock.yaml
  thicktoken/readme.md
  thicktoken/src/__tests/utils.ts
  thicktoken/src/tokenizer.test.ts
  thicktoken/src/tokenizer.ts
  thicktoken/src/utils.ts
  thicktoken/tsconfig.json
  thicktoken/vite.config.ts
  thicktoken/vitest.config.ts
  thicktoken/vitest.setup.ts
Owners: @botpress/cloud-services

update
  .github/workflows/thicktoken.yml
  thicktoken/package.json
  thicktoken/readme.md
Owners: @botpress/cloud-services

chore: rename wasm (#532)
  .github/workflows/thicktoken.yml
  thicktoken/.npmignore
  thicktoken/package.json
  thicktoken/pnpm-lock.yaml
  thicktoken/readme.md
  thicktoken/src/__tests/utils.ts
  thicktoken/src/tokenizer.test.ts
  thicktoken/src/tokenizer.ts
  thicktoken/src/utils.ts
  thicktoken/tsconfig.json
  thicktoken/vite.config.ts
  thicktoken/vitest.config.ts
  thicktoken/vitest.setup.ts
Owners: @botpress/cloud-services

feat(depsynky): handle peerDependencies + uniform ignore dev accross all commands
  depsynky/package.json
  depsynky/src/commands/check-versions.ts
  depsynky/src/commands/sync-versions.ts
  depsynky/src/config.ts
  depsynky/src/utils/pkgjson.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  depsynky/bin.js
Owners: @franklevasseur, @botpress/cloud-services

feat(depsynky): handle peerDependencies + uniform ignore dev accross all commands (#533)
  depsynky/bin.js
  depsynky/package.json
  depsynky/src/commands/check-versions.ts
  depsynky/src/commands/sync-versions.ts
  depsynky/src/config.ts
  depsynky/src/utils/pkgjson.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): react peer dependency is optional
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur @botpress/cloud-services
depsynky @franklevasseur @botpress/cloud-services
es-node @franklevasseur @botpress/cloud-services
jex @franklevasseur @botpress/cloud-services
log4bot @franklevasseur @botpress/cloud-services
opapi @michaelmass @franklevasseur @botpress/cloud-services
promex @michaelmass @botpress/cloud-services
ptb-schema @franklevasseur @botpress/cloud-services
readiness @franklevasseur @botpress/cloud-services
trail @michaelmass @botpress/cloud-services
tunnel @franklevasseur @botpress/cloud-services
verel @franklevasseur @botpress/cloud-services
yargs-extra @franklevasseur @botpress/cloud-services
zui @franklevasseur @botpress/cloud-services
