Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

fix(ci): updated packages to fix new gh actions on master (#152)
  entities/e2e/browser/index.ts
  readiness/pnpm-lock.yaml
  tunnel/e2e/index.ts
Owners: @franklevasseur

update
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  log4bot/src/logger.test.ts
  log4bot/tsconfig.json
Owners: @franklevasseur

update
  log4bot/package.json
  log4bot/pnpm-lock.yaml
Owners: @franklevasseur

update
  log4bot/src/logger.ts
Owners: @franklevasseur

update
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  log4bot/src/logger.ts
Owners: @franklevasseur

update
  const/package.json
  entities/package.json
  es-node/package.json
  expresso/package.json
  jex/package.json
  opapi/package.json
  readiness/package.json
  trail/package.json
  tunnel/package.json
  verel/package.json
  yargs-extra/package.json
  zui/package.json
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

update
  const/pnpm-lock.yaml
  entities/pnpm-lock.yaml
  es-node/pnpm-lock.yaml
  expresso/pnpm-lock.yaml
  jex/pnpm-lock.yaml
  log4bot/pnpm-lock.yaml
  opapi/pnpm-lock.yaml
  readiness/pnpm-lock.yaml
  trail/pnpm-lock.yaml
  tunnel/pnpm-lock.yaml
  verel/pnpm-lock.yaml
  yargs-extra/pnpm-lock.yaml
  zui/pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

update
  promex/.npmignore
  tunnel/e2e/browser/index.ts
  verel/e2e/browser/index.ts
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
  yargs-extra/src/parse-env.test.ts
  yargs-extra/tsconfig.json
Owners: @michaelmass, @franklevasseur

fix(log4bot): fix log4bot build, updated typescript & migrated to vitest (#153)
  const/package.json
  const/pnpm-lock.yaml
  entities/package.json
  entities/pnpm-lock.yaml
  es-node/package.json
  es-node/pnpm-lock.yaml
  expresso/package.json
  expresso/pnpm-lock.yaml
  jex/package.json
  jex/pnpm-lock.yaml
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  log4bot/src/logger.test.ts
  log4bot/src/logger.ts
  log4bot/tsconfig.json
  opapi/package.json
  opapi/pnpm-lock.yaml
  promex/.npmignore
  readiness/package.json
  readiness/pnpm-lock.yaml
  trail/package.json
  trail/pnpm-lock.yaml
  tunnel/e2e/browser/index.ts
  tunnel/package.json
  tunnel/pnpm-lock.yaml
  verel/e2e/browser/index.ts
  verel/package.json
  verel/pnpm-lock.yaml
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
  yargs-extra/src/parse-env.test.ts
  yargs-extra/tsconfig.json
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

feat(zui): Give access to full form state in component context params (#131)
  zui/package.json
  zui/src/ui/index.tsx
  zui/src/ui/types.ts
Owners: @charlescatta

update
  zui/src/ui/types.ts
  zui/src/zui.ts
Owners: @charlescatta

update
  opapi/package.json
  opapi/pnpm-lock.yaml
Owners: @michaelmass, @franklevasseur

update
  expresso/package.json
  expresso/pnpm-lock.yaml
  expresso/src/openapi.ts
  expresso/src/router.ts
  expresso/src/typings.ts
Owners: @franklevasseur

update
  expresso/src/router.ts
Owners: @franklevasseur

update
  const/package.json
  const/pnpm-lock.yaml
  entities/package.json
  entities/pnpm-lock.yaml
  expresso/package.json
  expresso/pnpm-lock.yaml
  jex/package.json
  jex/pnpm-lock.yaml
  log4bot/.npmignore
  log4bot/package.json
  log4bot/pnpm-lock.yaml
  log4bot/tsconfig.json
  log4bot/tsup.config.ts
  promex/package.json
  promex/pnpm-lock.yaml
  yargs-extra/package.json
  yargs-extra/pnpm-lock.yaml
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur, @michaelmass, @charlescatta

update
  .github/workflows/log4bot.yml
Owners: @botpress/cloud-services

update
  log4bot/package.json
Owners: @franklevasseur

update
  .gitignore
  tunnel/.npmignore
  tunnel/e2e/browser/index.ts
  tunnel/package.json
Owners: @botpress/cloud-services, @franklevasseur

update
  .github/workflows/log4bot.yml
  readiness/package.json
  readiness/pnpm-lock.yaml
  tunnel/package.json
  tunnel/pnpm-lock.yaml
Owners: @botpress/cloud-services, @franklevasseur

fix(opapi): embed type-fest types
  opapi/src/generators/client.ts
  opapi/src/generators/helpers.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/generators/ts-state.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/src/opapi.ts
  opapi/src/operation.ts
  opapi/src/path-params.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/jsonschema.ts
  opapi/src/openapi.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/src/jsonschema.ts
  opapi/src/openapi.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

chore(opapi): update opapi dependencies (#160)
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/generators/ts-state.ts
  opapi/src/jsonschema.ts
  opapi/src/opapi.ts
  opapi/src/openapi.ts
  opapi/src/operation.ts
  opapi/src/path-params.ts
  opapi/src/section-types-generator/helpers.ts
  opapi/src/section-types-generator/parsers.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

chore(opapi): update @anatine/zod-openapi package
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/opapi.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/src/opapi.ts
  opapi/src/state.ts
Owners: @michaelmass, @franklevasseur

update
  opapi/package.json
Owners: @michaelmass, @franklevasseur

chore(opapi): update @anatine/zod-openapi package (#161)
  opapi/package.json
  opapi/pnpm-lock.yaml
  opapi/src/opapi.ts
Owners: @michaelmass, @franklevasseur

update
  renovate.json
Owners: @botpress/cloud-services

chore(renovate): simplify renovate config (#162)
  renovate.json
Owners: @botpress/cloud-services

chore(trail): removed unwanted dependency yn
  .github/workflows/trail.yml
  trail/package.json
  trail/pnpm-lock.yaml
  trail/src/index.ts
  trail/src/trace.ts
  trail/tests/disabled.test.ts
  trail/tests/enabled.test.ts
  trail/tests/init.test.ts
  trail/vite.config.ts
Owners: @botpress/cloud-services, @michaelmass

update
  trail/package.json
Owners: @michaelmass

update
  renovate.json
Owners: @botpress/cloud-services

chore(trail): removed unwanted dependency yn (#163)
  .github/workflows/trail.yml
  renovate.json
  trail/package.json
  trail/pnpm-lock.yaml
  trail/src/index.ts
  trail/src/trace.ts
  trail/tests/disabled.test.ts
  trail/tests/enabled.test.ts
  trail/tests/init.test.ts
  trail/vite.config.ts
Owners: @botpress/cloud-services, @michaelmass

update
  promex/package.json
  promex/tsconfig.json
Owners: @michaelmass

update
  promex/src/prometheus.ts
Owners: @michaelmass

update
  ptb-schema/package.json
  ptb-schema/pnpm-lock.yaml
  ptb-schema/tests/test.test.ts
  renovate.json
Owners: @franklevasseur, @botpress/cloud-services

update
  promex/package.json
Owners: @michaelmass

update
  opapi/package.json
  promex/package.json
  promex/tsconfig.json
  renovate.json
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur
es-node @franklevasseur
expresso @franklevasseur
jex @franklevasseur
log4bot @franklevasseur
opapi @michaelmass @franklevasseur
promex @michaelmass
ptb-schema @franklevasseur
readiness @franklevasseur
trail @michaelmass
tunnel @franklevasseur
verel @franklevasseur
yargs-extra @franklevasseur
zui @charlescatta
