Repository botpress/packages, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/cloud-services, @franklevasseur, @michaelmass

CODEOWNERS:

* @botpress/cloud-services

const @botpress/cloud-services
entities @franklevasseur @botpress/cloud-services
depsynky @franklevasseur @botpress/cloud-services
es-node @franklevasseur @botpress/cloud-services
jex @franklevasseur @botpress/cloud-services
log4bot @franklevasseur @botpress/cloud-services
opapi @michaelmass @franklevasseur @botpress/cloud-services
promex @michaelmass @botpress/cloud-services
ptb-schema @franklevasseur @botpress/cloud-services
readiness @franklevasseur @botpress/cloud-services
trail @michaelmass @botpress/cloud-services
tunnel @franklevasseur @botpress/cloud-services
verel @franklevasseur @botpress/cloud-services
yargs-extra @franklevasseur @botpress/cloud-services
zui @franklevasseur @botpress/cloud-services

fix(zui): react peer dependency is optional (#534)
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): export schemas of JSONSchema
  zui/package.json
  zui/src/ui/index.ts
Owners: @franklevasseur, @botpress/cloud-services

guards
  zui/src/ui/index.ts
  zui/src/ui/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): export schemas of JSONSchema (#535)
  zui/package.json
  zui/src/ui/index.ts
  zui/src/ui/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

fix(opapi): ensure we never send a body with GET requests
  opapi/package.json
  opapi/src/generators/client-node.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(opapi): ensure we never send a body with GET requests (#545)
  opapi/package.json
  opapi/src/generators/client-node.ts
Owners: @michaelmass, @franklevasseur, @botpress/cloud-services

fix(yargs-extra): enforce yargs-extra is cjs
  yargs-extra/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(yargs-extra): enforce yargs-extra is cjs (#548)
  yargs-extra/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(thicktoken): cjs support
  thicktoken/package.json
  thicktoken/pnpm-lock.yaml
  thicktoken/src/tokenizer.test.ts
  thicktoken/src/tokenizer.ts
  thicktoken/tsconfig.json
  thicktoken/tsup.config.ts
  thicktoken/vite.config.ts
Owners: @botpress/cloud-services

ts
  thicktoken/package.json
  thicktoken/pnpm-lock.yaml
Owners: @botpress/cloud-services

fix(thicktoken): cjs support (#549)
  thicktoken/package.json
  thicktoken/pnpm-lock.yaml
  thicktoken/src/tokenizer.test.ts
  thicktoken/src/tokenizer.ts
  thicktoken/tsconfig.json
  thicktoken/tsup.config.ts
  thicktoken/vite.config.ts
Owners: @botpress/cloud-services

feat(const): add id prefix for plugins
  const/src/prefixes.ts
Owners: @botpress/cloud-services

feat(const): add id prefix for plugins (#550)
  const/src/prefixes.ts
Owners: @botpress/cloud-services

chore: bump const to 0.0.50
  const/package.json
Owners: @botpress/cloud-services

chore: bump const to 0.0.50 (#551)
  const/package.json
Owners: @botpress/cloud-services

chore: update vitest to 2.x
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

also surface .title() and other extensions
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix a broken test that never worked
  zui/src/ui/ui.test.tsx
Owners: @franklevasseur, @botpress/cloud-services

use primitive utils in toTypescriptSchema
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

add tests and fix issues
  zui/src/transforms/common/utils.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

fix linting issues
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): bump minor version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

make unknownToTypescriptValue work with arrays / records
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/common/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): preserve descriptions in toTypescriptSchema
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

revert updating vitest
  zui/package.json
  zui/pnpm-lock.yaml
Owners: @franklevasseur, @botpress/cloud-services

revert unknownToTypescriptValue
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/common/utils.ts
Owners: @franklevasseur, @botpress/cloud-services

revert fixing the issue in ui.test
  zui/src/ui/ui.test.tsx
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): bump minor version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): preserve descriptions in toTypescriptSchema (#547)
  zui/package.json
  zui/src/transforms/common/utils.test.ts
  zui/src/transforms/common/utils.ts
  zui/src/transforms/zui-to-typescript-schema/index.test.ts
  zui/src/transforms/zui-to-typescript-schema/index.ts
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): bump patch version
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): fix ui test "calls onValidation w/ validation"
  zui/src/ui/ui.test.tsx
Owners: @franklevasseur, @botpress/cloud-services

fix(zui): fix ui test "calls onValidation w/ validation" (#552)
  zui/package.json
  zui/src/ui/ui.test.tsx
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): remove a bunch of as any statements
  zui/src/transforms/json-schema-to-zui/parsers/parseAllOf.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseMultipleType.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseObject.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseSchema.ts
  zui/src/transforms/json-schema-to-zui/utils.ts
  zui/src/ui/ElementRenderer.tsx
  zui/src/z/__tests__/set.test.ts
  zui/src/z/benchmarks/discriminatedUnion.ts
  zui/src/z/benchmarks/object.ts
  zui/src/z/benchmarks/realworld.ts
  zui/src/z/benchmarks/union.ts
  zui/src/z/types/array/index.ts
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/discriminatedUnion/index.ts
  zui/src/z/types/enum/index.ts
  zui/src/z/types/error/error.test.ts
  zui/src/z/types/error/index.ts
  zui/src/z/types/function/index.ts
  zui/src/z/types/intersection/index.ts
  zui/src/z/types/nativeEnum/index.ts
  zui/src/z/types/nativeEnum/nativeEnum.test.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/object/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/set/index.ts
  zui/src/z/types/tuple/index.ts
  zui/src/z/types/utils/index.ts
  zui/src/z/types/utils/parseUtil.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/package.json
Owners: @franklevasseur, @botpress/cloud-services

chore(zui): remove a bunch of as any statements (#553)
  zui/package.json
  zui/src/transforms/json-schema-to-zui/parsers/parseAllOf.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseMultipleType.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseObject.ts
  zui/src/transforms/json-schema-to-zui/parsers/parseSchema.ts
  zui/src/transforms/json-schema-to-zui/utils.ts
  zui/src/ui/ElementRenderer.tsx
  zui/src/z/__tests__/set.test.ts
  zui/src/z/benchmarks/discriminatedUnion.ts
  zui/src/z/benchmarks/object.ts
  zui/src/z/benchmarks/realworld.ts
  zui/src/z/benchmarks/union.ts
  zui/src/z/types/array/index.ts
  zui/src/z/types/basetype/index.ts
  zui/src/z/types/default/index.ts
  zui/src/z/types/discriminatedUnion/index.ts
  zui/src/z/types/enum/index.ts
  zui/src/z/types/error/error.test.ts
  zui/src/z/types/error/index.ts
  zui/src/z/types/function/index.ts
  zui/src/z/types/intersection/index.ts
  zui/src/z/types/nativeEnum/index.ts
  zui/src/z/types/nativeEnum/nativeEnum.test.ts
  zui/src/z/types/nullable/index.ts
  zui/src/z/types/object/index.ts
  zui/src/z/types/optional/index.ts
  zui/src/z/types/readonly/index.ts
  zui/src/z/types/set/index.ts
  zui/src/z/types/tuple/index.ts
  zui/src/z/types/utils/index.ts
  zui/src/z/types/utils/parseUtil.ts
Owners: @franklevasseur, @botpress/cloud-services

feat(zui): declare zui flavored JSON Schema
  zui/src/transforms/common/json-schema.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/z/types/defs.ts
  zui/src/z/types/utils/index.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/z/types/branded/index.ts
  zui/src/z/types/defs.ts
  zui/src/z/types/discriminatedUnion/index.ts
  zui/src/z/types/utils/index.ts
  zui/tsconfig.json
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
Owners: @franklevasseur, @botpress/cloud-services

update
  zui/src/transforms/common/json-schema.ts
  zui/src/transforms/zui-to-json-schema-next/index.ts
Owners: @franklevasseur, @botpress/cloud-services
